.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 20pt;

    background-color: lightblue;
    border-radius: 10dvh;
    padding: 5vh;
    margin-bottom: 2vh;
    max-width: 60vw;

    * {
        margin: 1pt;
    }

}