.response {
    width: 80%;
    border: 1pt;
    border-style: dotted;
    border-color: black;
    min-height: 10vh;
    // overflow: hidden;
    word-wrap: break-word;
}

.fail {
    color: red;
    border-color: red;
}